body {
    background-color: darkgray;
}

h1 {
    font-size: x-large; color: green;
}

p {
    font-size: large; color: lawngreen;
}

#dodaj {
    background-color: chartreuse
}
#usun {
    background-color: maroon;
}